@{
    var currentAction = ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SARN Cms</title>
    <link rel="shortcut icon" href="~/images/Gfx/Cms-favicon.ico" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-toggle/css/bootstrap-toggle.min.css" />
    <link rel="stylesheet" href="~/lib/jsoneditor/jsoneditor.min.css" />
    <link rel="stylesheet" href="~/lib/normalize/normalize.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/css/tools.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    @RenderSection("CSS", false)
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>

    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/responsive.bootstrap.min.js"></script>

    <script src="~/lib/metisMenu/metisMenu.min.js"></script>
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script src="~/lib/jsoneditor/jsoneditor.min.js"></script>
    <script src="~/lib/lodash.js/lodash.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/spin.js/spin.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Admin/Cms/Index">
                <img src="~/images/Gfx/CmsLogo.png" alt="Brand" />
            </a>

        </div>
        <ul class="nav navbar-top-links navbar-right hidden-xs">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/Admin/Cms/Signout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/Admin/Cms/Index" class="@(currentAction == "Index" ? "active" : "")">
                            <i class="fa fa-tachometer fa-fw"></i>Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Cms/Recipes/" class="@(currentAction == "Recipes" ? "active" : "")">
                            <i class="fa fa-file fa-fw"></i>Recipes
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="cms-page-wrapper" class="container-fluid" style="background-color:white;">
        @RenderBody()
    </div>

    <script type="text/javascript">
        //Metis Menu Plugin JavaScript
        $(function () {
            $('#side-menu').metisMenu();
        });

        //collapses the sidebar on window resize.
        $(function () {
            var element = $('a.active');
            if (element.closest('ul').hasClass('nav-second-level')) {
                element.closest('ul.nav-second-level').addClass('in').parent().addClass('active');
            }
        });
    </script>
    @RenderSection("JS", false)
</body>
</html>
